<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= title %> | Wordsmith</title>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <link
      rel="stylesheet"
      href="/css/base.css%2bvendor.css%2bmain.css.pagespeed.cc.MKPH2sr9my.css"
    />

    <link rel="stylesheet" href="/css/A.base.css%2bvendor.css%2bmain.css%2cMcc.MKPH2sr9my.css.pagespeed.cf.GHrZWQaete.css" />

    <script src="/js/modernizr.js"></script>

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body id="top">
    <div id="preloader">
      <div id="loader" class="dots-fade">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <header class="s-header header">
      <div class="header__logo">
        <a class="logo" href="/">
          <img src="/images/logo.svg" alt="Homepage" />
        </a>
      </div>
      <a class="header__search-trigger" href="#0"></a>
      <div class="header__search">
        <form role="search" class="header__search-form" action="#">
          <label>
            <span class="hide-content">Search for:</span>
            <input
              type="search"
              class="search-field"
              placeholder="Type Keywords"
              value=""
              name="s"
              title="Search for:"
              autocomplete="off"
            />
          </label>
          <input type="submit" class="search-submit" value="Search" />
        </form>
        <a href="#0" title="Close Search" class="header__overlay-close"
          >Close</a
        >
      </div>
      <a class="header__toggle-menu" href="#0" title="Menu"
        ><span>Menu</span></a
      >
      <nav class="header__nav-wrap">
        <h2 class="header__nav-heading h6">Navigate to</h2>
        <ul class="header__nav">
          <li class="<%= name === 'home' ? 'current' : '' %>"><a href="/" title="">Home</a></li>
          <li class="has-children <%= name === 'category' ? 'current' : '' %>">
            <a href="#0" title="">Categories</a>
            <ul class="sub-menu">
              <li><a href="/category/Lifestyle">Lifestyle</a></li>
              <li><a href="/category/Health">Health</a></li>
              <li><a href="/category/Family">Family</a></li>
              <li><a href="/category/Management">Management</a></li>
              <li><a href="/category/Travel">Travel</a></li>
              <li><a href="/category/Work">Work</a></li>
            </ul>
          </li>
          <li class="<%= name === 'about' ? 'current' : '' %>"><a href="/about" title="">About</a></li>
          <li class="<%= name === 'contact' ? 'current' : '' %>"><a href="/contact" title="">Contact</a></li>
        </ul>
        <a
          href="#0"
          title="Close Menu"
          class="header__overlay-close close-mobile-menu"
          >Close</a
        >
      </nav>
    </header>