<%- include('./includes/header') %>

<section class="s-content s-content--top-padding">
  <div class="row narrow">
    <div class="col-full s-content__header" data-aos="fade-up">
      <h1 class="display-1 display-1--with-line-sep">Category: <%= helpers.toCapitalize(data.category.name) %> </h1>
      <p class="lead">
        <%= data.category.description %>
      </p>
    </div>
  </div>
  <div class="row entries-wrap add-top-padding wide">
    <div class="entries">
      <% if (data.posts.length > 0) { %>
        <% data.posts.forEach(post => { %>
          <%- include('./includes/post.ejs', {post}) %>
        <% }); %>
      <% }else { %>
        <h1 style="text-align: center; width: 100%;">No Post Yet</h1>
      <% } %>
    </div>
  </div>
  <% if (data.posts.length > 0) { %>
    <%- include('./includes/pagination.ejs', {pagination: data.pagination}) %>
  <% } %>
</section>

<%- include('./includes/footer') %>
